{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'orders/style.css' %}"/>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a id="website-heading" class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'orders/fast-food.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Pinocchio's Pizza & Subs
        </a>

        {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                
              </li>
              <li class="nav-item">
                
              </li>
            </ul>
            <div id="right-side-nav">
              <a id="nav-orders" href="{% url 'orders' %}">My Orders</a>
              <a id="nav-cart" href="{% url 'shoppingcart' %}"><img src="{% static 'orders/shopping-cart.png' %}" height="30" width="30">Your Cart</a>
              <button id="logout-button" type="button" class="btn btn-danger"><a id="nav-logout" href="{% url 'logout' %}">Logout</a></button>
            </div>
          </div>
        {% endif %}
      </nav>

    {% block body %}
    {% endblock %}
    <script src="../../static/orders/index.js"></script>
</body>
</html>